/* .part2 {

    width: 100vw;
    height: auto;
    background-image: url(https://img.freepik.com/free-photo/tropical-monstera-leaf-border-frame-leaf-banner-background_53876-104691.jpg?w=1380&t=st=1691560494~exp=1691561094~hmac=469c0fd218d4d42f2029ab3443da3e904aaf227c0d6da724473ffc7c030a5b23);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    
} */
.part2 {

    width: 100vw;
    /* background: 
        radial-gradient(circle at right,
            rgb(255, 255, 255),
            rgb(215, 208, 226),
            rgb(255, 255, 255),
            rgb(252, 223, 204)
        ); */
        background-image: url(https://res.cloudinary.com/de8nd9vxi/image/upload/v1691559655/v%20wed/multi-layers-gray-color-wavy-texture-3d-papercut-l_hpsjwe.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}


.height-video{
    min-height: 100vh;
}


.custom-text-area{
  width: 80%;
  height: 100px;
}

div{
    margin: 0;
    padding: 0;
}


*{
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}



.forum{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 80%;
}





.register-head{
    font-family: monospace;
    text-align: center;
}

.quote-text{
    color: white;
    font-family: fantasy;
    text-align: center;
}
.submit-btn{
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 40%;
   align-self: center;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 7px;
}
.signUp{
    color: blue;
    cursor: pointer;
}

.err{
    color: red;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

form.ng-invalid.ng-submitted input.ng-touched.ng-invalid{
    border: 1px solid red;
}

@media screen and (max-width:500px ){
    .register-bg{
        background-image: url(https://res.cloudinary.com/de8nd9vxi/image/upload/v1691587697/v%20wed/multi-layers-gray-color-wavy-texture-3d-papercut-l_gtjx6g.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
  
.height-video{
    min-height: 50vh;
}
}