<!-- <div class="part2">
    <div style="margin-top: 4%; ">   
        <div class="row m-0 register-bg height-video">
            <div class="col-sm-12 d-flex justify-content-center align-items-center">
                <video style="width: 80vw;" muted src="../../../assets/video.mp4" autoplay=true  controls></video>
            </div>
        </div>
    </div>
</div> -->

<div class="part2">
    <div style="margin-top: 4%;">
        <div class="row m-0 register-bg height-video">
            <div class="col-sm-12 d-flex justify-content-center align-items-center">
                <video style="width: 80vw;" muted autoplay controls>
                    <source src="../../../assets/video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>
