<div class="part2">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid m-0">
    <div class="row m-0 heightt">
      <div class="col-sm-6 ; justify-content-center  " style="margin-top: 12%; ">
        <h1 style="font-family: fantasy; font-size: 50px" class="ml-4">Photography is a story I can't put into words
        </h1>
        <h1 style="color:  rgb(125, 82, 194); font-family: fantasy; font-size:48px;" class="ml-4">V-Weddings </h1>
        <p style="color:  rgb(97, 93, 103); " class="ml-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Voluptatem, facere veniam. Nesciunt sed magni voluptas officiis voluptatibus. Aperiam officiis deleniti ab
          reprehenderit ipsa temporibus illo optio, voluptas quia unde autem? </p>

        <button class="button-goTo ml-5">SEE MORE </button>
      </div>
      <div class="col-sm-6 d-flex justify-content-center align-items-center ">
        <img style="width: 80%; border-radius: 20px; mix-blend-mode: darken;  margin-top:7%;"
          src="https://res.cloudinary.com/de8nd9vxi/image/upload/v1690777183/v%20wed/WhatsApp_Image_2023-07-31_at_09.43.29_zskrqu.jpg"
          alt="">
      </div>
    </div>
  </div>
  
<app-categories></app-categories>

</div>
