.part2 {
    width: 100vw;
    height: 100vh;
    background: 
        radial-gradient(circle at right,
            rgb(255, 255, 255),
            rgb(223, 211, 242),
            rgb(255, 255, 255),
            rgb(252, 223, 204)
        ),
        radial-gradient(circle at left,
            rgb(119, 9, 9),
            rgb(69, 29, 2),
            rgb(61, 27, 3),
            rgb(134, 60, 3)
        ),
        radial-gradient(circle at center,
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255),
            rgb(255, 255, 255)
        );
        overflow-x: hidden;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand {
    color:black;
    font-weight: 700;
  
}

.nav-item{
color: black;
}
.nav-link
{

font-display: initial !important;
    color:rgb(0, 0, 0);
    font-weight: 700;

}
/* Default style for .heightt class */
.heightt {
    min-height: 70vh;
}



.button-goTo{
  border-radius: 7px;
  background-color: azure;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  border: 1px solid brown;
  box-shadow:  black;
}
/* Media query for screens with a minimum width of 800px and a maximum width of 1199px */
@media screen and (min-width: 200px) and (max-width: 800px) {
    .heightt {
        min-height: 50vh;
    }
}