.register-bg{
    background-image: url('https://images.wallpaperscraft.com/image/single/photographer_hands_camera_118094_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 80%;
}

.register-form{
    display: flex;
   background-color: white;
   opacity: .7;
    width: 80%;
    height: 90%;
    align-items: center;
justify-content: center;
border-radius: 6px;
}

input{
    margin: 10px;
    width: 80%;
}

.register-head{
    font-family: monospace;
    text-align: center;
}

.quote-text{
    color: white;
    font-family: fantasy;
    text-align: center;
}
.submit-btn{
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 40%;
   align-self: center;
   border: 2px solid rgb(255, 255, 255);
   border-radius: 7px;
}
.login{
    color: blue;
    cursor: pointer;
}

.err{
    color: red;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}

form.ng-invalid.ng-submitted input.ng-touched.ng-invalid{
    border: 1px solid red;
}

@media screen and (max-width:500px ){
    .register-bg{
        background-image: url('https://w.forfun.com/fetch/43/43dd1bf48c8d076b54b2cbe88d450847.jpeg?h=900&r=0.5');
        background-repeat: no-repeat;
        background-size: cover;
    }
}