<div class="part2">


    <div style="margin-top: 4%; ">
       
        <div class="row m-0 register-bg" style="min-height: 100vh;">
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <img src="https://res.cloudinary.com/de8nd9vxi/image/upload/v1691593999/v%20wed/camera-cartoon-graphic-image-colorful-illustration_763713-2642-removebg-preview_xqiwck.png" alt="">
            </div>
            <div class="col-sm-6 d-flex justify-content-center align-items-center" >
            <div class="container register-form">
          
                <h1 class="quote-text" style="color: rgb(255, 255, 255);">
                    “Beauty can be seen in all things, seeing and composing the beauty is what separates the snapshot from the photograph.” .</h1>

                
            </div>
            </div>
        </div>
        
    </div>
</div>