<nav class="navbar navbar-expand-lg navbar-light " >
    <a class="navbar-brand ml-5" routerLink="/" >V-Weddings</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " routerLink="/likes">Likes</a>
        </li>
        <li *ngIf="name!='Login'" class="nav-item">
            <div class="nav-link " >{{name}}</div>        
          </li>   
          <li *ngIf="name=='Login'" class="nav-item">
            <div class="nav-link " routerLink="/login">{{name}}</div>        
          </li>   
          <li *ngIf="name!='Login'" class="nav-item">
            <div class="nav-link " (click)="logOut()" href="#">Logout</div>        
          </li>     
          <li *ngIf="name=='Login'" class="nav-item mr-5">
            <a class="nav-link " routerLink="/register">SignUp</a>
          </li>       
      </ul>
    </div>
  </nav>